@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', Hevletica, arial, sans-serif;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  transition: color 0.25s;
}
