@import '../../styles/variables';
@import '../../styles/animation';

.Modal {
  align-items: center;
  display: flex;
  flex-flow: column;
  height: 100vh;
  justify-content: center;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  transition: opacity 0.25s;
  visibility: hidden;
  width: 100%;

  &.active {
    opacity: 1;
    visibility: visible;

    .Modal__content,
    .Modal__footer {
      transform: translateY(0);
    }
  }
}

.Modal__background {
  background-color: rgba($black, 0.5);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
}

.Modal__content {
  background-color: $white;
  font-size: 0.9rem;
  max-width: 705px;
  overflow: hidden;
  transform: translateY(50%);
  transition: transform 0.25s;
  width: 100%;
  z-index: 11;
}

.Modal__header {
  background-color: $darkBlue;
  color: $white;
  padding: 1rem;

  h2,
  p {
    font-weight: 300;
  }

  p {
    text-transform: uppercase;
  }
}

.Modal__close {
  content: '';
  cursor: pointer;
  height: 20px;
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 20px;

  &:before,
  &:after {
    background-color: $white;
    content: '';
    display: block;
    height: 3px;
    transform-origin: center center;
    width: 20px;
  }

  &:before {
    transform: rotate(45deg) translateX(2px);
  }

  &:after {
    transform: rotate(-45deg) translateX(2px);
  }
  &:hover {
    animation: 0.5s wiggle;
  }
}

.Modal__body {
  padding: 1rem;
}

.Modal__form {
  background-color: $gray;
  display: flex;
  flex-flow: column;
  padding: 1rem;

  input,
  textarea {
    border: 1px solid $darkGray;
    display: block;
    margin: 0.5rem 0;
    outline: none;
    padding: 0.5rem;
    width: 100%;
  }

  label {
    position: relative;
  }

  input:invalid {
    box-shadow: none;
  }

  img {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 22px;
    height: auto;
  }

  input:invalid ~ .invalid,
  input:valide ~ .valid {
    display: block;
  }

  input:valid ~ .invalid,
  input:invalid ~ .valid {
    display: none;
  }

  input[type='tel'] {
    max-width: 50%;
  }
}

.Modal__radio-buttons {
  position: relative;
  border-bottom: 1px solid $darkGray;
  padding-bottom: 2rem;
  p {
    margin-bottom: 0.5rem;
  }

  input {
    position: absolute;
    z-index: -999;
  }

  input + span {
    border-radius: 5px;
    border: 1px solid $black;
    color: $black;
    cursor: pointer;
    display: inline-block;
    font-size: 0.85rem;
    padding: 0.25rem 1rem;
    transition: background-color 0.25s, color 0.25s;
  }

  .radioButton {
    margin-right: 0.5rem;
  }

  input:checked + span {
    color: $white;
    background-color: $teal;
    border-color: darken($teal, 10%);
  }
}

.Modal__submit {
  align-items: center;
  background-color: $gray;
  border: none;
  cursor: pointer;
  display: inline-flex;
  font-size: 1rem;
  font-weight: bold;
  justify-content: center;
  padding: 2rem 0 1rem;
  transition: color 0.25s;

  img {
    display: inline-block;
    margin-left: 0.5rem;
    position: relative;
  }

  &:hover {
    color: $teal;
  }

  &:hover img {
    animation: right-bounce 0.5s infinite ease-in-out;
  }
}

.Modal__footer {
  background-color: $gray;
  border: none;
  font-size: 0.9rem;
  margin-top: -2rem;
  max-width: 730px;
  padding: 3rem 2rem 1rem;
  transform: translateY(50%);
  transition: transform 0.25s;
  z-index: 10;
}

.Modal__error {
  color: red;
  text-align: center;
}

.Modal__success {
  align-items: center;
  background-color: $gray;
  display: flex;
  flex-flow: column;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateX(100%);
  transition: transform 0.3s;
  width: 100%;

  h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  p {
    margin-top: 1rem;
  }

  &.active {
    transform: translateX(0);
  }
}

.Modal__checkmark {
  stroke: $white;
  stroke-width: 2;
  stroke-miterlimit: 10;
  border-radius: 50%;
  max-width: 250px;
  box-shadow: inset 0px 0px 0px $darkBlue;

  &-circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke: $darkBlue;
    stroke-miterlimit: 10;
    fill: none;
  }

  &-check {
    transform-origin: 50% 50%;
    stroke: $white;
    stroke-width: 4;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
  }

  .Modal__success.active & {
    animation: fill 0.5s 0.7s ease-in-out forwards,
      scale 0.3s ease-in-out 0.9s both;

    &-circle {
      animation: stroke 0.6s 0.25s ease-in-out forwards;
    }

    &-check {
      animation: stroke 0.5s 1s ease-in-out forwards;
    }
  }
}
